// ================================================================================================
//  File Name: app-invoice.scss
//  Description: Invoice Layout page layouts SCSS.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuexy HTML Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================
@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes
$product-details-bg: #fcfcfc;
$supply-receive-spacing: 1.45rem 0;
$supply-receive-card-body-padding: 2.5rem;
// Invoice Preview, Edit & Add
.supply-receive-preview,
.supply-receive-edit,
.supply-receive-import {
    .supply-receive-padding {
        padding-left: $supply-receive-card-body-padding;
        padding-right: $supply-receive-card-body-padding;
    }
    .table {
        th:first-child,
        td:first-child {
            padding-left: 2.5rem;
        }
    }
    .logo-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.9rem;
        .supply-receive-logo {
            font-size: 2.142rem;
            font-weight: bold;
            letter-spacing: -0.54px;
            margin-left: 1rem;
            margin-bottom: 0;
        }
    }
    .supply-receive-title {
        font-size: 1.285rem;
        margin-bottom: 1rem;
        .supply-receive-number {
            font-weight: 600;
        }
    }
    .supply-receive-date-wrapper {
        display: flex;
        align-items: center;
        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
        .supply-receive-date-title {
            width: 7rem;
            margin-bottom: 0;
        }
        .supply-receive-date {
            margin-left: 0.5rem;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    .supply-receive-spacing {
        margin: $supply-receive-spacing;
    }
    .supply-receive-number-date {
        .title {
            width: 115px;
        }
    }
    .supply-receive-total-wrapper {
        width: 100%;
        max-width: 20rem;
        .supply-receive-total-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .supply-receive-total-title {
                margin-bottom: 0.35rem;
            }
            .supply-receive-total-amount {
                margin-bottom: 0.35rem;
                font-weight: 600;
            }
        }
    }
    @media (min-width: 768px) {
        .supply-receive-title {
            text-align: right;
            margin-bottom: 3rem;
        }
    }
}

// Invoice Edit & Add
.supply-receive-edit,
.supply-receive-import {
    .supply-receive-preview-card {
        .supply-receive-title {
            text-align: left;
            margin-right: 3.5rem;
            margin-bottom: 0;
        }
        .supply-receive-edit-input,
        .supply-receive-edit-input-group {
            max-width: 11.21rem;
        }
        .supply-receive-product-details {
            background-color: $product-details-bg;
            padding: 3.75rem 3.45rem 2.3rem 3.45rem;
            .product-details-border {
                border: 1px solid $border-color;
                border-radius: $border-radius;
            }
        }
        .supply-receive-to-title {
            margin-bottom: 1.9rem;
        }
        .col-title {
            position: absolute;
            top: -3.2rem;
        }
        .item-options-menu {
            min-width: 20rem;
        }
        .repeater-wrapper {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
        .supply-receive-calculations {
            .total-amt-title {
                width: 100px;
            }
        }
    }
    @media (max-width: 769px) {
        .supply-receive-preview-card {
            .supply-receive-title {
                margin-right: 0;
                width: 115px;
            }
            .supply-receive-edit-input {
                max-width: 100%;
            }
        }
    }
    @media (max-width: 992px) {
        .col-title {
            top: -1.5rem !important;
        }
    }
    @media print {
        hr {
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
        }
    }
}